{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./src",
          "expose": "kitsu"
        },
      ]
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
