{
  "extends": "airbnb",
  "globals": {
    "fetch": false
  },
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": ["error", { "functions": false, "variables": false }],
    "react/forbid-prop-types": 0
  }
}