cache:
  yarn: true
  directories:
    - $HOME/.yarn-cache
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - node_modules
branches:
  only:
  - master
notifications:
  email:
    on_success: never
    on_failure: always
  slack:
    secure: aR7CUgdWuAU+fthj50nD4k4PwC0lN3Ul5uIrb90Pv57kgm450Jp1h/pNcF/x+KayXWua+K009AG3AA/ginQhNvds0N12pnADC1lvGALaBtcfGJpElhHUSgvhkV/DbDcgkhmQibZfeR/D29yESsZ9PZ0qNKqK6z9AiQQlFS6Rogq/IUNRfC1GD472s/evCDek07Ywka7bNkIUaOXsI19R8cKj2bsC0jJRV+F0LMYLpjC4uBCOo57P9giLPA5+hGx6wrjmIo94S3H1wWXSJjua/JA7Ixqx34CyUJ1vLfEAeQppX0p5Zln/H2qhcve1ECCpMvQm2AFnE1IHoIZS9esx4qJWGpSfvqPuOY4QRnKN0IwjzSXPVMhkXXRnU7GYKHGtEQkQUhEGApVCezutQBkSDViy5oY4PDctFHuXprZWYIHiel6gZksM5891w2DSXsHsc99PQZpBEM+1/bkkN42PzYJocq13Iz79ncsGn4iWSbnqSGVJMj43sna3CaXxoH2hfQoiYUjCeXmpqfTbay36lf6UMu8it/IyJOHdhKxmkVlN+BVeExBYdVMgE0Mbw2ZbeXaOW2BPXeE3Y20UtNvCAqDY4jzvfRj3mJIdqPvK4aj1wTh+aF/wGGXkQ96ZpL5P34LH1aRvv9WFpikjuqKhIpcuqzSpRFdu977yCPqe+BE=

matrix:
  include:
    - language: android
      jdk: oraclejdk8
      sudo: required
      dist: precise
      before_cache:
        - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
        - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
      android:
        components:
          - platform-tools
          - tools
          - build-tools-25.0.2
          - build-tools-26.0.1
          - android-25
          - android-26
          - build-tools-23.0.1
          - android-23
          - extra-android-m2repository
          - extra-google-google_play_services
          - extra-google-m2repository
      licenses:
        - android-sdk-preview-license-.+
        - android-sdk-license-.+
        - google-gdk-license-.+
      before_install:
        - nvm install 7
        - node --version
        - travis_retry curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
        - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
        - travis_retry sudo apt-get update -qq
        - travis_retry sudo apt-get install -y -qq yarn
        - gem install fastlane --no-rdoc --no-ri --no-document --quiet
        - chmod +x ./android/gradlew
        - openssl aes-256-cbc -K $encrypted_68a856edd0d9_key -iv $encrypted_68a856edd0d9_iv -in ./android/app/kitsu-android-key.keystore.enc -out ./android/app/kitsu-android-key.keystore -d
        # - security delete-certificate -c "Apple Worldwide Developer Relations Certification Authority" # add this to resolve 'Could not install WWDR certificate'
      install:
        - yarn install
      script:
        - cd android && ./gradlew clean
        - fastlane beta

    - language: objective-c
      os: osx
      osx_image: xcode8.3
      node_js: false
      before_install:
        - nvm install 7
        - node --version
        - travis_retry npm install -g yarn
        - yarn -version
        - gem install fastlane --no-rdoc --no-ri --no-document --quiet
        - openssl aes-256-cbc -K $encrypted_5a0bd94d6bee_key -iv $encrypted_5a0bd94d6bee_iv -in .deploy_key.enc -out ~/.ssh/deploy_key -d
        - echo -e "Host github.com\n\tHostName github.com\n\tUser git\n\tIdentityFile ~/.ssh/deploy_key\n" >> ~/.ssh/config
        - ssh-keyscan github.com >> ~/.ssh/known_hosts
        - chmod 600 ~/.ssh/deploy_key
      install:
        - travis_retry yarn
      script:
        - cd ios
        - fastlane beta
